<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse FAQ's</title> 
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <main>
        <h1 class="faq-heading">FAQ'S</h1>
        <section class="faq-container">
            <div class="faq-one">
                <!-- faq question -->
                <h1 class="faq-page">Are all your products home delivered></h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>Yes, all of our products are home delivered. The 
                      cost of delivery to your home depends upon your place
                      of residence. Eg: India, USA, UK, France and Australia 
                      will have free home delivery, but for the other areas we
                      will charge the according fee.
                    </p>
                </div>
            </div>
            <hr class="hr-line">

            <div class="faq-two">

                <!-- faq question -->
                <h1 class="faq-page">How many years of warranty do I get with your products?</h1>

                <!-- faq answer -->

                <div class="faq-body">
                    <p>You can get upto 4 years of warranty for our products. The warranty 
                      covers scratches, damages, breaks and tears but not anything that can/will
                      be caused due to heavy damages, pressure breaks or anything else.
                    </p>
                </div>
            </div>
            <hr class="hr-line">


            <div class="faq-three">

                <!-- faq question -->
<h1 class="faq-page">Are your products returnable?</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>Yes, our products can be returned as per your needs.
                      If the cause of return is due to the customer, then the 
                      customer will have to pay the delivery fee if he/she does not
                      live in the countries as mentioned before. Else, our executive
                      will check the product and return it to us free of cost.</p>
                </div>
            </div>

        </section>
    </main>
    <div id="theme-btn" class="far fa-moon"></div>
    <script src="main.js"></script>
</body>


</html>